html, body, table, tr, td, li, form, input, select, textarea, div, span, img, a, b, p, h1, h2, h3, h4  {
	font-family: Arial, Helvetica, sans-serif;
}
html, body, table, td, p, li, div, form, textarea, input, select {
	font-size: 12px;
}
body {
	background-image: url('../images/main_header_wide.jpg');
	background-repeat: repeat-x;
	background-color: transparent;
	margin: 0px;
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 0px;
	text-align: left;
}
td {
	font-size: 12px;
	color: #000000;
}
img {
	border: 0px;
}

h1 {
	font-size: 15px;
	font-weight: bold;
}
h2 {
	font-size: 13px;
	font-weight: bold;
}

#total {
	margin: auto;
	width: 1010px;
	z-index: 0;
}
.textarea-formulaire{
	height: 40px;
	max-width: 100%;
	min-width: 100%;
}
.main_header_wide {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.main_header {
	position: relative;
	background-image: url('../images/main_header.jpg');
	background-repeat: no-repeat;
	margin: 0 auto;
	width: 995px;
	text-align: left;
	display: block;
	float: left;
}
div.header_few_words_center {
	position: absolute;
	top: 64px;
	left: 330px;
	font-weight: bold;
	font-size: 15px;
	font-style: italic;
	color: #FFAA00;
	text-align: center;
	width: 220px;
}
div.header_few_words_right {
	position: absolute;
	top: 54px;
	left: 812px;
	font-weight: bold;
	font-size: 20px;
	font-style: italic;
	color: #FFFFFF;
}
.main_logo {
	position: relative;
	text-align: left;
	margin: 7px 7px 7px 7px;
	width: 300px;
	height:77px;
}
.main_footer_wide {
	background-color: #868686;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.main_footer {
	position: relative;
	margin: 0 auto;
	padding: 5px;
	width: 985px;
	text-align: right;
}
.main_footer a, .main_footer a:visited, .main_footer a:hover, .main_footer a:link {
	color: #FFFFFF;
}
.under_footer {
	margin: 0px;
	padding: 6px;
	text-align: center;
}
#menuHorizontal {
	font-weight: bold;
	font-size: 16px;
}
.main_content {
	position: relative;
	margin: 0 auto;
	width: 1010px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 12px;
	padding-top: 12px;
	clear: both;
}
div#page_title {
	position: absolute;
	margin: 0px;
	top: 10px;
	left: 400px;
	height: 26px;
	text-align: left;
	vertical-align: middle;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 18px;
}
#page_title a {
	color:#FFFFFF;
}
form {
	margin:0px;
}
input[type=text], input[type=number], input[type=email], input[type=tel], input[type=file], input[type=password], input[type=url], select, textarea {
	color: #000000;
	border: solid 1px #828282;
	background-color: #EEEEEE;
	font-size: 13px;
	font-weight: normal;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
input[type=text]:focus, input[type=number]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=file]:focus, input[type=password]:focus, input[type=url]:focus, select:focus, textarea:focus {
	background-color: #F7F7FF;
}
input[type=text], input[type=number], input[type=email], input[type=tel], input[type=file], input[type=password], input[type=url], textarea {
	padding: 1px;
}
textarea {
	width: 100%;
}
input[type=submit]:focus, input[type=button]:focus, a:active {
	outline:none;
}
input[type=submit]::-moz-focus-inner, input[type=button]::-moz-focus-inner {
    border : 0px;
}
input[disabled], button[disabled], textarea[disabled] {
	color: #999999;
}
.bouton, a.bouton, a.bouton:link, a.bouton:visited, a.bouton:hover {
	text-decoration: none;
	border: 1px solid #336699;
	padding: 2px;
	background-color: #FFAA00;
	color: #000000;
	font-size: 13px;
}
.bouton:focus , a.bouton:focus {
	background-color: #FFCC44;
}
a:link {
	text-decoration: underline;
	color: #3355BB;
}
a:visited {
	text-decoration: underline;
	color: #3355BB;
}
a:hover {
	text-decoration: none;
	color: #5577DD;
}

.titre {
	font-size: 13px;
	font-weight: bold;
	color: #000000;
}
.rouge {
	font-size: 13px;
	color: #CC0000;
	font-weight: bold;
}
.label {
	font-size: 13px;
	color: #000000;
	font-weight: bold;
}
.label_rouge {
	font-size: 13px;
	color: #990000;
	background-color: #FFFFCC;
	font-weight: bold;
}
.notice {
	font-size: 13px; color: #006699;
}
.tetiere {
	font-size: 17px;
	background-color: #6699CC;
	color: #FFFFFF;
	padding: 2px;
	border: dotted 1px #FF9900;
	text-align: center;
}
.entete {
	background-color: #5c5859;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	border-top: 1px solid #F4F4F4;
	padding-left: 2px;
	text-transform: uppercase;
	padding: 5px;
}
.entete a {
	color: #FFFFFF;
}
.bloc {
	background-color: #3353A1;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	border-top: 1px solid #F4F4F4;
	padding: 3px;
}
.menu {
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	background-color: #3353A1;
	text-align: center;
}

.menuadmin {
	font-size: 11px;
	background-color: #FFFFCC;
	padding: 2px;
	border: dotted 1px #FF9900;
	text-align: center;
}
.out {
	background: buttonface;
	border: 1px solid buttonface;
	margin: 1px;
}
.over {
	background: buttonface;
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
	border-bottom: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;
	margin: 1px;
}
tr.classe1 {
	background-color: #EBE7E8;
	color : #000000;
	font-weight : normal;
	font-size : 13px;
	text-decoration: none;
}
tr.classe2 {
	background-color: #D6D4D5;
	color : #000000;
	font-weight : normal;
	font-size : 13px;
	text-decoration: none;
}
tr.classe3 {
	background-color: #CCFFFF;
	color : #000000;
	font-weight : normal;
	font-size : 13px;
	text-decoration: none;
}
.bold {
	font-weight: bold;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.red {
	color: #FF0000;
}
.stat_data {
	color: #000066;
	font-weight: bold;
}
.global_error {
	color: #990000;
}
.global_success {
	color: #006600;
}
.global_error, .global_success {
	font-weight: bold;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px #CCCCCC dotted;
	background-color: #FFFFF4;
}
.global_help{
    margin: auto 5px;
    background: url('../../../images/picto_aide_peel_03.png') no-repeat left top scroll  transparent;
    color: #2a5fa8;
    padding: 5px 5px 5px 26px;
}
.home_block {
	z-index:1;
	width: 294px;
	margin: 10px auto 10px auto;
}
.home_block h2 {
	margin: 0px;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	text-align:center;
}
.home_block h3 {
	font-size: 12px;
	font-weight: bold;
	text-align:center;
	color: #006600;
	margin: 0px;
	padding-bottom:3px;
}
.home_block p {
	margin-bottom:0px;
}
.home_block tr {
	height: 32px;
}
.home_block td {
	text-align: left;
}
.home_block tr.content {
	background-image: url('../images/home_block_content.jpg');
	background-repeat: repeat-y;
	vertical-align: top;
}
.home_block tr.footer {
	height: auto;
}
.home_block tr.footer td {
	background-image: url('../images/home_block_footer.jpg');
	background-repeat: no-repeat;
	height: 11px;
	line-height: 11px;
}

.home_block_data_table {
	width:292px;
	text-align: center;
	padding-left:2px;
}
.home_block_data_table td {
	padding: 1px;
	font-size: 9px;
	text-align: center;
}
.home_block_data_table th{
	background-color: #5C5859;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
}
.centrer_bloc {
	display: block;
	margin: 0 auto;
}

/* suggestions search */
div.suggestions {
	background-color: white;
	margin: 0px;
	padding: 0px;
}
div.suggestions ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
}
div.suggestions ul li:hover {
	background-color: #ffffbb;
}
div.suggestions ul li {
	list-style-type:none;
	display:block;
	margin:0;
	padding:2px;
	cursor:pointer;
	text-align:left;
}

.multipage {
    font-size: 12px;
    height: 30px;
    padding: 5px;
    vertical-align: middle;
    font-weight: normal;
    width: 100%;
}
.multipage a {
	color: #000000;
}
.multipage .current_page_number, .multipage b {
    font-weight: bold;
    font-size: 16px;
}
.multipage_left, .multipage_right {
	width: 90px;
}
.multipage_right {
	padding-right: 10px;
	text-align: right;
}
.multipage_left img, .multipage_right img {
	margin-left: 10px;
	margin-right: 10px;
}
.multipage-area {
	width: 100%;
	text-align: center;
	padding-top: 5px; 
	padding-bottom: 5px;
	color: #000000;
}
tr.is_on_gift{
    background:#ffd3cc;
}
.edit_module_title {
	width:145px;
}
.input_search input{
    width: 141px;
}

#payment_method{
	margin-left: 20px;
}
#contenu .col{
    display: inline-block;
    padding-bottom: 2px;
    padding-top: 10px;
    vertical-align: top;
    width: 250px;
}
#flags {
	float: right;
	padding: 14px;
}
.change_status {
	cursor:pointer;
}
.full_width {
	width: 100%;
}
.main_table {
	width: 100%;
}

/* Tables */
table.tagcloudAdmin_formulaire_recherche {
	width: 100%;
}
table.tagcloudAdmin_formulaire_recherche  td {
	padding: 5px;
}
table.admin_liste_produits {
	border-spacing: 2px;
	width: 100%;
}
table.admin_liste_produits td {
	padding: 0px;
}
table.admin_liste_produits {
	border-spacing: 2px;
	width: 100%;
}
table.admin_liste_produits td {
	padding: 0px;
}
table.admin_liste_clients_par_produit {
	border-spacing: 2px;
	width: 100%;
}
table.admin_liste_clients_par_produit td {
	padding: 2px;
}
table.admin_liste_marque {
	border-spacing: 0px;
	width: 100%;
}
table.admin_liste_marque td {
	padding: 5px;
}
table.admin_best_sell_products {
	width: 100%;
}
table.admin_best_sell_products td {
	padding: 2px;
}
table.admin_formulaire_modif_prix {
	width: 100%;
}
table.admin_formulaire_modif_prix td {
	padding: 5px;
}
table.affiche_list_send_mail {
	width: 100%;
}
table.affiche_list_send_mail td {
	padding: 5px;
}
table.form2csv_or_xml {
	width: 100%;
}
table.form2csv_or_xml td {
	padding: 5px;
}
table.admin_best_sell_products {
	width: 100%;
}
table.admin_best_sell_products td {
	padding: 2px;
}
table.admin_commande_details {
	width: 100%;
}
table.admin_commande_details td {
	padding: 3px;
}
table.avisAdmin_liste {
	width: 100%;
}
table.avisAdmin_liste td {
	padding: 2px;
}