.main_menu_wide {
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
	display: block;
	float: left;
	z-index: 300;
}
.main_menu {
	position: relative;
	margin: 0 auto;
	text-align: center;
	z-index:300;
}
#menu1,
#menu2 {
	background-image: url('../images/menu_background.jpg');
	background-repeat: repeat;
	float: left;
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 26px;
	display: block;
	z-index:301;
	text-align: center;
}

#menu1 li,
#menu2 li {
	position: relative;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	z-index:302;
	display:block;
	float:left;
	font-size:12px;
}
#menu1 .menu_main_item span, #menu1 .menu_main_item a,
#menu2 .menu_main_item span, #menu2 .menu_main_item a  {
	display: block;
	height: 22px;
	/*background: url(images/menu/menu_main_item.gif) center top no-repeat ;*/
	padding: 4px 10px 0px 10px;
	color:#FFFFFF;
	font-weight: bold;
	text-decoration: none;
	border-left:1px solid #FFFFFF;
}
#menu1 .menu_home a{border-left: none;}
#menu1 .menu_main_item a.current, #menu1 .menu_main_item a:hover, #menu1 .menu_main_item a:focus, #menu1 .menu_main_item a:active,
#menu2 .menu_main_item a.current, #menu2 .menu_main_item a:hover, #menu2 .menu_main_item a:focus, #menu2 .menu_main_item a:active{
	/*background: url(images/menu/menu_main_item.gif) center bottom no-repeat ;*/
	background-color:#6C6869;
	color:#FFFFFF;
}
#menu1 .menu_main_item ul.sousMenu li span, #menu1 .menu_main_item ul.sousMenu li a,
#menu2 .menu_main_item ul.sousMenu li span, #menu2 .menu_main_item ul.sousMenu li a  {
	color: #FFFFFF;
	width: auto;
	background-color:#6C6869;
	height:auto;
	padding:5px;
}
#menu1 .menu_main_item ul.sousMenu li span,
#menu2 .menu_main_item ul.sousMenu li span {
	background-color:#333344;
	border-top:1px solid #FFFFFF;
	text-align:center;
}
#menu1 .menu_main_item:hover > a, #menu1 .menu_main_item:hover > span,
#menu2 .menu_main_item:hover > a, #menu2 .menu_main_item:hover > span  {
	/*background: url(images/menu/menu_main_item.gif) center bottom no-repeat ;*/
	background-color:#6C6869;
	color:#FFFFFF;
}

#menu1 .sousMenu,
#menu2 .sousMenu  {
	display:none;
	list-style-type:none;
	position:absolute;
	text-align:left;
	width:200px;
	z-index:303;
	top:26px;
	left:0px;
	padding:0px;
	margin:0px;
	color: #FFFFFF;
	border-right:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}

#menu1 .sousMenu li,
#menu2 .sousMenu li{
	z-index:304;
	height:auto;
	font-weight:bold;
	width:200px;
	display:block;
	padding:0px;
	margin:0px;
}

#menu1 .sousMenu li span, #menu1 .sousMenu li a {
	z-index:305;
}
#menu1 .menu_main_item ul.sousMenu li a:hover, #menu1 .menu_main_item ul.sousMenu li a.current,
#menu2 .menu_main_item ul.sousMenu li a:hover, #menu2 .menu_main_item ul.sousMenu li a.current  {
	background-color:#444444;
}

#menu1 li:hover ul.sousMenu,
#menu2 li:hover ul.sousMenu  {
	display: block;
}

#menu1 .menu_home a.current, #menu1 .menu_home ul.sousMenu li a, #menu1 .menu_home:hover > a,
#menu2 .menu_home a.current, #menu2 .menu_home ul.sousMenu li a, #menu2 .menu_home:hover > a  {
	background-color:#005491;
}
#menu1 .menu_home ul.sousMenu li a:hover, #menu1 .menu_home ul.sousMenu li a.current,
#menu2 .menu_home ul.sousMenu li a:hover, #menu2 .menu_home ul.sousMenu li a.current {
	background-color:#013670;
}
#menu1 .menu_home ul.sousMenu li span,
#menu2 .menu_home ul.sousMenu li span {
	background-color:#003481;
}

#menu1 .menu_sales a.current, #menu1 .menu_sales ul.sousMenu li a, #menu1 .menu_sales:hover > a,
#menu2 .menu_sales a.current, #menu2 .menu_sales ul.sousMenu li a, #menu2 .menu_sales:hover > a {
	background-color:#59b320;
}
#menu1 .menu_sales ul.sousMenu li a:hover, #menu1 .menu_sales ul.sousMenu li a.current,
#menu2 .menu_sales ul.sousMenu li a:hover, #menu2 .menu_sales ul.sousMenu li a.current {
	background-color:#309609;
}
#menu1 .menu_sales ul.sousMenu li span,
#menu2 .menu_sales ul.sousMenu li span  {
	background-color:#125503;
}

#menu1 .menu_stocks a.current, #menu1 .menu_stocks ul.sousMenu li a, #menu1 .menu_stocks:hover > a,
#menu2 .menu_stocks a.current, #menu2 .menu_stocks ul.sousMenu li a, #menu2 .menu_stocks:hover > a {
	background-color:#6720af;
}
#menu1 .menu_stocks ul.sousMenu li a:hover, #menu1 .menu_stocks ul.sousMenu li a.current,
#menu2 .menu_stocks ul.sousMenu li a:hover, #menu2 .menu_stocks ul.sousMenu li a.current {
	background-color:#640d85;
}
#menu1 .menu_stocks ul.sousMenu li span,
#menu2 .menu_stocks ul.sousMenu li span {
	background-color:#380c6d;
}

#menu1 .menu_users a.current, #menu1 .menu_users ul.sousMenu li a, #menu1 .menu_users:hover > a,
#menu2 .menu_users a.current, #menu2 .menu_users ul.sousMenu li a, #menu2 .menu_users:hover > a {
	background-color:#b00415;
}
#menu1 .menu_users ul.sousMenu li a:hover, #menu1 .menu_users ul.sousMenu li a.current,
#menu2 .menu_users ul.sousMenu li a:hover, #menu2 .menu_users ul.sousMenu li a.current  {
	background-color:#880000;
}
#menu1 .menu_users ul.sousMenu li span,
#menu2 .menu_users ul.sousMenu li span {
	background-color:#5e0000;
}

#menu1 .menu_products a.current, #menu1 .menu_products ul.sousMenu li a, #menu1 .menu_products:hover > a,
#menu2 .menu_products a.current, #menu2 .menu_products ul.sousMenu li a, #menu2 .menu_products:hover > a {
	background-color:#dd6000;
}
#menu1 .menu_products ul.sousMenu li a:hover, #menu1 .menu_products ul.sousMenu li a.current,
#menu2 .menu_products ul.sousMenu li a:hover, #menu2 .menu_products ul.sousMenu li a.current {
	background-color:#bb4100;
}
#menu1 .menu_products ul.sousMenu li span,
#menu2 .menu_products ul.sousMenu li span {
	background-color:#991a00;
}

#menu1 .menu_content a.current, #menu1 .menu_content ul.sousMenu li a, #menu1 .menu_content:hover > a,
#menu2 .menu_content a.current, #menu2 .menu_content ul.sousMenu li a, #menu2 .menu_content:hover > a {
	background-color:#016fd7;
}
#menu1 .menu_content ul.sousMenu li a:hover, #menu1 .menu_content ul.sousMenu li a.current,
#menu2 .menu_content ul.sousMenu li a:hover, #menu2 .menu_content ul.sousMenu li a.current {
	background-color:#004bbb;
}
#menu1 .menu_content ul.sousMenu li span,
#menu2 .menu_content ul.sousMenu li span {
	background-color:#003481;
}

#menu1 .menu_webmastering a.current, #menu1 .menu_webmastering ul.sousMenu li a, #menu1 .menu_webmastering:hover > a,
#menu2 .menu_webmastering a.current, #menu2 .menu_webmastering ul.sousMenu li a, #menu2 .menu_webmastering:hover > a {
	background-color:#bf8b54;
}

#menu1 .menu_webmastering ul.sousMenu li a:hover, #menu1 .menu_webmastering ul.sousMenu li a.current,
#menu2 .menu_webmastering ul.sousMenu li a:hover, #menu2 .menu_webmastering ul.sousMenu li a.current {
	background-color:#a5672f;
}
#menu1 .menu_webmastering ul.sousMenu li span,
#menu2 .menu_webmastering ul.sousMenu li span {
	background-color:#85562f;
}
/**/
#menu1 .menu_moderation a.current, #menu1 .menu_moderation ul.sousMenu li a, #menu1 .menu_moderation:hover > a,
#menu2 .menu_moderation a.current, #menu2 .menu_moderation ul.sousMenu li a, #menu2 .menu_moderation:hover > a  {
	background-color:#ffad10;
}
#menu1 .menu_moderation ul.sousMenu li a:hover, #menu1 .menu_moderation ul.sousMenu li a.current,
#menu2 .menu_moderation ul.sousMenu li a:hover, #menu2 .menu_moderation ul.sousMenu li a.current {
	background-color:#F48413;
}
#menu1 .menu_moderation ul.sousMenu li span,
#menu2 .menu_moderation ul.sousMenu li span {
	background-color:#BA640E;
}

#menu1 {
	width:1010px;
}

#menu2 {
	width:957px;
	margin-left:53px;
	z-index:201;
}

#menu2 li {
	z-index:202;
}

#menu2 .sousMenu {
	z-index:203;
}

#menu2 .sousMenu li{
	z-index:204;
}

#menu2 .sousMenu li span, #menu2 .sousMenu li a {
	z-index:205;
}
#menu2 .menu_moderation a{border-left: 0px; }
